body{
    padding-right: 30px;
    padding-left: 30px;
    background-image: url(images/Moonlit%20Asteroid.jpg);
    color: #EDF5E1;
    
}
#tribute-info{
    text-align: left
}
p{
    font-family: 'DM Mono', monospace;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-family: 'Lobster', cursive;
}
h4{
    text-align: center;
}
h3 {
    font-family: 'Cedarville Cursive', cursive;
    text-align: center;
    font-size: 25px
}
h6{
    font-size: 20px;
    font-family: 'Cedarville Cursive', cursive;
}

#image{
    width: 500px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #668cff;
}
img{
    width: 300px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #668cff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
a{
    text-decoration: none;
    color: aliceblue;
}
#title{
    font-size: 80px;   
}
.heart{
    color:#e25555;
}
footer{
    text-align: center;
    font-family: 'DM Mono', monospace;
}